body{
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #CC0000;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#CC0000;
}
input{
    outline: none;
}


