<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace="dao.CustomerMapper">
    <select id="getCustomerByCname" parameterType="String" resultType="Customer">
		select * from customer where Cname=#{Cname}
	</select>
	<select id="getCUstomerByCmail" parameterType="String" resultType="Customer">
		select * from customer where Cmail=#{Cmail}
	</select>
</mapper>